.footer{
    background-color: rgb(34, 34, 34);
    color: var(--white-color);
}
.footer__main{
    padding: 100px 0 30px;
}
.footer__col-1, .footer__col-2, .footer__col-3{
    min-width: 200px;
}
.footer__col-1{
    flex-basis: 30%;
}
.footer__col-2{
    flex: 1;
    margin-left: 20px;
}
.footer__col-3{
    flex-basis: 12%;
}
.footer__title{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align:center;
}
.footer__col-1 p{
    margin-bottom: 20px;
    margin-right: 20px;
}
.footer__text{
    font-size: 1.4rem;
    text-align: center;
    color: #aaa;
}
.footer__app-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__chplay{
    width: 160px;
    margin-right: 20px;
}
.footer__appstore{
    width: 160px;

}
.footer__logo{
    margin-bottom: 20px;
}
.footer__logo img{
    margin: 0 auto;
    width: 180px;
}
.footer__useful-list{

}
.footer__useful-item{

}
.footer__copy-right{
    border-top: 1px solid white;
    margin-top: 50px;
}
.footer__copy-right p{
    margin-top: 30px;
}